@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-heartbeat {
    animation: heartbeat 1s infinite;
  }

  .max-h-0 {
    max-height: 0;
  }

  @font-face {
    font-family: 'Otomanopee One';
    src: url('/img/OtomanopeeOne-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
  }